@import '../../../../assets/scss/colors.scss';

.app-list-of-lists-of-product {
    margin-top: -30px;
    flex-direction: column;

    .button-plus {
        margin-bottom: 10px;
        position: fixed;
        bottom: 0;
        transform: translateX(-50%);
    }

    .ng-for-container.list-of-list-of-product-container {
        flex-wrap: wrap;
        justify-content: space-between;
        height: 220px;

        .ng-for {
            width: 43%;
            height: 60px;
            background-color: $TODAY_COLOR_1;
            color: white;
            margin-top: 10px;
            border-radius: 5px;

            &:nth-child(2n+1) {
                margin-left: 20px;
            }

            &:nth-child(2n) {
                margin-right: 20px;
            }

            .item {
                align-items: center;
                justify-content: center;
                text-align: center;
                border-radius: 5px;

                .name-undefined {
                    opacity: 60%;
                }
            }

        }
    }

    .recently-used-container {
        height: 150px;
        flex-direction: column;
        padding-left: 10px;

        .text {
            color: $TODAY_COLOR_1;
            font-weight: bold;
        }

        .ng-for-container {
            height: fit-content;
            overflow-x: scroll;
            padding: 20px 0;

            .ng-for {
                width: fit-content;
                margin-right: 10px;
            }
        }
    }

    .seasonal-product-container {
        height: 150px;
        flex-direction: column;
        padding-left: 10px;

        .text {
            color: $TODAY_COLOR_1;
            font-weight: bold;
        }

        .ng-for-container {
            height: fit-content;
            overflow-x: scroll;
            padding: 20px 0;

            .ng-for {
                width: fit-content;
                margin-right: 10px;
            }
        }
    }

}
