<div class="app-list-of-lists-of-product">
  
    <div class="ng-for-container">
        <div class="ng-for" *ngFor="let listOfProduct of (shoppingData$ | async).listOfListOfProduct">
            <div class="item" (click)="onClickListOfProduct(listOfProduct)">
                <p *ngIf="listOfProduct.name">{{ listOfProduct.name }}</p>
                <p *ngIf="!listOfProduct.name" class="name-undefined">A définir</p>
            </div>
        </div> 
        
    </div>

    <button 
        class="button-plus"
        (click)="onClickCreateListOfProduct()"
    >
        +
    </button>

</div>