@import "../../../../assets/scss/elements.scss";

.app-category-of-product-selector {
    background-color: white;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    .search-bar {
        height: 30px;
        margin-bottom: 20px;
        width: 80%;

        input {
            border-radius: 100px;
            padding-left: 10px;
            border: solid 1px $TODAY_COLOR_1;
            text-transform: capitalize;
            color: $TODAY_COLOR_1;
            font-weight: bold;
            margin-right: 5px;
        }

        button {
            border-radius: 100%;
            padding: 2px 9px;
            height: fit-content;
            background-color: $TODAY_COLOR_1;
            color: white;
            font-size: 24px;
        }
    }

    .ng-for-container {
        height: fit-content;
        width: 90%;
    }

    .name {
        white-space: nowrap;
        color: $TODAY_COLOR_5;
        background-color: white;
        border-radius: 100px;
        box-shadow: 1px 1px 3px $TODAY_COLOR_5;
        padding: 4px 10px;
        max-width: 90px;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }
}