<div class="app-category-of-product-selector">

    <div class="search-bar">
        <input 
            class="input-search-1"
            type="text"
            placeholder="Nom de la catégorie"
            [(ngModel)]="categoryName"
            (ngModelChange)="onChangeCategoryName()"
        />

        <button class="button-plus-search-1" (click)="onClickCreateCategory()">+</button>
    </div>


    <div class="ng-for-container">
        <div class="ng-for" *ngFor="let category of listOfCategory">
            <p class="name" (click)="onClickCategoryName(category.id)">{{ category.name }}</p>
        </div>
    </div>
</div>
