<div class="app-shopping">
    <div class="title-container" *ngIf="(shoppingNavigation$ | async) === SHOPPING_PAGE_NAMES.LISTS_OF_LIST">
        <p>Today</p>
        <p>is a new day !</p>
    </div>

    <div *ngIf="(shoppingNavigation$ | async) === SHOPPING_PAGE_NAMES.LISTS_OF_LIST">

        <div class="app-list-of-lists-of-product-container">
            <app-list-of-lists-of-product></app-list-of-lists-of-product>
        </div>
        
    </div>

    <div class="app-list-of-product-container" *ngIf="(shoppingNavigation$ | async) === SHOPPING_PAGE_NAMES.LIST_OF_PRODUCT">
        <app-list-of-product class="app-list-of-product"></app-list-of-product>
    </div>

</div>
