@import "../../../assets/scss/colors.scss";

$TITLE_HEIGHT: 175px;

.app-shopping {
    flex-direction: column;

    .title-container {
        flex-direction: column;
        border-bottom: solid 1px #dedede;
        height: $TITLE_HEIGHT;
        min-height: $TITLE_HEIGHT;;
        padding-left: 10px;
        background-color: $TODAY_COLOR_4;

        p {
            &:nth-child(1) {
                margin-top: 10px;
            }

            &:nth-child(1),
            &:nth-child(2) {
                color: $TODAY_COLOR_3;
                font-size: 35px;    
            }

            &:nth-child(3) {
                text-align: center;
                color: white;
                margin-top: 20px;
            }
        }
    }

    .app-list-of-lists-of-product-container {
        height: calc(100% - $TITLE_HEIGHT);
        width: 100%;
    }

    .app-list-of-product-container {
        .app-list-of-product {
            width: 100%;
        }
    }
}