@import '../../../../assets/scss/colors.scss';

.app-switch-checkbox-circle {
    .border {
        width: 18px;
        border: solid 1px $TODAY_COLOR_4;
        border-radius: 10px;
        padding: 2px;

        .in {
            border: solid 1px $TODAY_COLOR_4;
            border-radius: 10px;
            background-color: $TODAY_COLOR_4;
        }
    }
}
