/* You can add global styles to this file, and also import other style files */
@import './assets/scss/colors.scss';

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 100%;
}

textarea:focus, input:focus{
    outline: none;
}

p {
    margin: 0;
}

.plus-button {
    position: fixed;
    bottom: 0;
    justify-content: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffd478;
    border-radius: 100%;
    padding: 0 12px;
    border: none;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.input-search-1 {
    margin-right: 5px;
    border-radius: 100px;
    padding-left: 10px;
    border: solid 1px $TODAY_COLOR_1;
    text-transform: capitalize;
    color: $TODAY_COLOR_1;
    font-weight: bold;
}

.button-plus-search-1 {
    border-radius: 100%;
    padding: 2px 9px;
    height: fit-content;
    background-color: $TODAY_COLOR_1;
    color: white;
    font-size: 24px;
}

.border-top-right-radius {
    border-top-right-radius: 50px;
}
 
.bold {
    font-weight: bold;
}