<div class="app-list-of-product" *ngIf="(pageName$ | async) === SHOPPING_PAGE_NAMES.LIST_OF_PRODUCT">

    <div class="top-panel">
        <button class="arrow-left-button" (click)="onClickGoBack()"> 
            <
        </button>

        <div class="title-container">
            <div class="title">Liste du marché</div>
            <div class="shared-with">partagée avec</div>
        </div>

        <button class="ellipsis-button">
            ...
        </button>

    </div>

    <div class="background-div">

        <div 
            *ngIf="isSearchActive"
            class="search-container" 
            [ngClass]="{ 'border-top-right-radius': isSearchActive } "
        >
            <div class="text-container">
                <div class="text">
                    <input 
                        type="text"
                        [(ngModel)]="searchedProductText"
                        (ngModelChange)="onChangeSearchedProductText()"
                        placeholder="..."
                    />
                </div>
                <button class="check-button">v</button>
            </div>
            <div *ngIf="foundProducts.length > 0" class="relative-position-of-list-of-product">
                <div class="list-of-product-container">
                    <div *ngFor="let product of foundProducts">
                        <div class="product-container" (click)="onClickFoundProduct(product)">
                            <p class="name">{{ product.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div 
            class="list-of-product-of-list-container"
            [ngClass]="{ 'border-top-right-radius': !isSearchActive } "
        >

            <div *ngFor="let item of formatedDisplayedListOfProductWithCategories | keyvalue" class="product-of-list-container">
                
                <div class="ng-for-category-container">
                    <div class="category-container">
                        <div class="left-line"></div>
                        <div class="category-text">
                            {{item.key}}
                        </div>
                    </div>

                    <div *ngFor="let product of item.value">

                        <div class="ng-for-products">
                            <div class="left">
                                <div class="quantity">{{product.quantity }}</div>
                                <div class="name">{{product.name }}</div>                  
                            </div>

                            <div class="right">O</div>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>

    </div>

    <button 
        class="plus-button"
        (click)="onClickPlusButton()"
    >
        <div [ngClass]="{'rotated': isSearchActive }">
            +
        </div>
    </button>


</div>

