<div class="app-list-of-product" *ngIf="(shoppingNavigation$ | async) === SHOPPING_PAGE_NAMES.LIST_OF_PRODUCT">

    <div class="top-panel">
        <button class="arrow-left-button" (click)="onClickGoBack()"> 
            <
        </button>

        <div class="title-container">
            <div class="title">Liste du marché</div>
            <div class="shared-with">partagé avec</div>
        </div>

        <button class="ellipsis-button">
            ...
        </button>

    </div>

    <div class="search-container" *ngIf="isSearchActive">
        <div class="text-container">
            <div class="text">
                <input value="..."/>
            </div>
            <button class="check-button">v</button>
        </div>
    </div>

    <div>

        <div>catégorie</div>
        <div>

            <div>5</div>
            <div>Courgette</div>
            <div>O</div>

        </div>

    </div>

    <button 
        class="plus-button"
        (click)="onClickPlusButton()"
    >
        +
    </button>


</div>

