@import "../../../../assets/scss/colors.scss";
@import "../../../../assets/scss/layout.scss";

.app-list-of-product {
    flex-direction: column;

    .top-panel {
        height: $LIST_OF_PRODUCT_PANEL_TOP_HEIGHT;
        justify-content: center;
        align-items: center;
        background-color: $TODAY_COLOR_1;

        .title-container {
            flex-direction: column;
            justify-content: center;
            padding-left: 25px;

            .title {
                color: white;
                align-items: center;
                font-size: 25px;
            }

            .title-input {
                background-color: transparent;
                color: white;
                align-items: center;
                font-size: 25px;

                &::placeholder {
                    color: white;
                    opacity: 0.5;
                }
            }
            
            .shared-with {
                position: absolute;
                top: 55px;
                color: $TODAY_COLOR_2;
                font-size: 16px;
                padding-top: 5px;
                height: fit-content;
                width: fit-content;
            }
        }

        .arrow-left-button {
            margin-left: 10px;
            background-color: transparent;
            color: white;
        }

        .ellipsis-button {
            margin-right: 30px;
            background-color: transparent;
            color: white;
            font-size: 25px;
        }
    }

    .background-div {
        background-color: $TODAY_COLOR_1;
        flex-direction: column;
    }

    .search-container {
        flex-direction: column;
        height: fit-content;
        background-color: white;
        padding-top: 10px;

        .text-container {
            flex-direction: row;
            padding: 0 5% 0 3%;
            align-items: center;
            height: 40px;

            .text {
                input {
                    margin-right: 3%;
                    border-radius: 100px;
                    padding-left: 10px;
                    border: solid 1px $TODAY_COLOR_1;
                    text-transform: capitalize;
                    color: $TODAY_COLOR_1;
                    font-weight: bold;
                }
            }
        }

        .search-plus-button {
            border-radius: 100%;
            padding: 2px 9px;
            height: fit-content;
            background-color: $TODAY_COLOR_1;
            color: white;
            font-size: 24px;
        }

        .relative-position-of-list-of-product {
            position: relative;
            top: 5px;

            .list-of-product-container {
                flex-direction: flex;
                background-color: white;
                z-index: 1;
                // position: absolute;
                top: 0;
                height: fit-content;
                margin: 0 0% 0 3%;
                width: -webkit-fill-available;
                overflow-y: hidden;
                overflow-x: scroll;
            }

            .product-container {
                height: fit-content;
                padding: 10px;

                .name {
                    white-space: nowrap;
                    color: $TODAY_COLOR_5;
                    background-color: white;
                    border-radius: 100px;
                    box-shadow: 1px 1px 3px $TODAY_COLOR_5;
                    padding: 4px 10px;
                    max-width: 90px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    cursor: pointer;
                }

                .name:hover {
                    background-color: $TODAY_COLOR_1;
                    color: white;
                }

                .selected {
                    background-color: $TODAY_COLOR_1;
                    color: white;
                }

            }

        }
    }

    .list-of-product-of-list-container {
        background-color: white;
        flex-direction: column;
        padding-top: 10px;

        .product-of-list-container {
            height: fit-content;
        }

        .ng-for-category-container {
            flex-direction: column;

            .category-container {
                align-items: center;
                padding: 10px 0;
            }

            .left-line {
                width: 30px;
                height: fit-content;
                border: solid;
                border-color: $TODAY_COLOR_2;
            }

            .category-text {
                padding-left: 25px;
                color: $TODAY_COLOR_3;
                font-weight: bold;
            }

            .ng-for-products {
                padding: 9px 5% 9px 52px;

                .left {

                    .quantity {
                        width: fit-content;
                        padding-right: 20px;
                        color: $TODAY_COLOR_4;
                    }

                    .name {
                        color: $TODAY_COLOR_5;
                    }
                }

                .right {
                    justify-content: flex-end;
                }

            }
        }

    }

    .plus-button {
        margin-bottom: 10px;

        .rotated {
            transform: rotate(45deg);
        }
    }
}
