<div class="app-list-of-product" *ngIf="(shoppingNavigation$ | async) === SHOPPING_PAGE_NAMES.LIST_OF_PRODUCT">

    <div class="top-panel">
        <button class="arrow-left-button" (click)="onClickGoBack()"> 
            <
        </button>

        <div class="title-container">
            <div class="title">Liste du marché</div>
            <div class="shared-with">partagé avec</div>
        </div>

        <button class="ellipsis-button">
            ...
        </button>

    </div>

    <div class="search-container" *ngIf="isSearchActive">
        <div class="text-container">
            <div class="text">
                <input 
                    type="text"
                    [(ngModel)]="searchedProductText"
                    (ngModelChange)="onChangeSearchedProductText()"
                    placeholder="..."
                />
            </div>
            <button class="check-button">v</button>
        </div>
        <div *ngIf="foundListOfProduct.length > 0" class="relative-position-of-list-of-product">
            <div class="list-of-product-container">
                <div *ngFor="let product of foundListOfProduct">
                    <div>{{ product.name }}</div>
                    <div>{{ product.category.name }}</div>
                </div>
            </div>
        </div>
    </div>

    <div>

        <div>

            <div>product</div>
            <div>

                <div>5</div>
                <div>Courgette</div>
                <div>O</div>

            </div>

        </div>

    </div>

    <button 
        class="plus-button"
        (click)="onClickPlusButton()"
    >
        <div [ngClass]="{'rotated': isSearchActive }">
            +
        </div>
    </button>


</div>

