@import "../../../../assets/scss/colors.scss";
@import "../../../../assets/scss/layout.scss";

.app-list-of-product {
    flex-direction: column;

    .top-panel {
        height: $LIST_OF_PRODUCT_PANEL_TOP_HEIGHT;
        justify-content: center;
        align-items: center;
        background-color: $TODAY_COLOR_1;

        .title-container {
            flex-direction: column;
            justify-content: center;
            padding-left: 25px;

            .title {
                color: white;
                align-items: center;
                font-size: 25px;
            }

            .title-input {
                background-color: transparent;
                color: white;
                align-items: center;
                font-size: 25px;

                &::placeholder {
                    color: white;
                    opacity: 0.5;
                }
            }
            
            .shared-with {
                position: absolute;
                top: 55px;
                color: $TODAY_COLOR_2;
                font-size: 16px;
                padding-top: 5px;
                height: fit-content;
                width: fit-content;
            }
        }

        .arrow-left-button {
            margin-left: 10px;
            background-color: transparent;
            color: white;
        }

        .ellipsis-button {
            margin-right: 30px;
            background-color: transparent;
            color: white;
            font-size: 25px;
        }
    }

    .background-div {
        background-color: $TODAY_COLOR_1;
        flex-direction: column;
        height: calc(100% - 90px);
    }

    .search-container {
        flex-direction: column;
        height: fit-content;
        background-color: white;
        padding-top: 10px;

        .text-container {
            flex-direction: row;
            padding: 0 5% 0 3%;
            align-items: center;
            height: 40px;

            input {
                margin-right: 3%;
            }
        }



        .relative-position-of-list-of-product {
            position: relative;
            top: 5px;

            .list-of-product-container {
                flex-direction: flex;
                background-color: white;
                z-index: 1;
                // position: absolute;
                top: 0;
                height: fit-content;
                margin: 0 0% 0 3%;
                width: -webkit-fill-available;
                overflow-y: hidden;
                overflow-x: scroll;
            }

            .ng-for {
                width: fit-content;
                
                .product-container {
                    height: fit-content;
                    padding: 10px;
                }
            }

        }
    }

    .list-of-product-of-list-container {
        background-color: white;
        flex-direction: column;
        padding-top: 10px;
        height: 100%;
        overflow: scroll;
        padding-bottom: 60px;

        .product-of-list-container {
            height: fit-content;
        }

        .ng-for-category-container {
            flex-direction: column;

            .category-container {
                align-items: center;
                padding: 10px 0;
            }

            .left-line {
                width: 30px;
                height: fit-content;
                border: solid;
                border-color: $TODAY_COLOR_2;
            }

            .category-text {
                padding-left: 25px;
                color: $TODAY_COLOR_3;
                font-weight: bold;
            }

            .ng-for-list-of-product {
                flex-direction: column;

                .item-product {
                    padding: 9px 5% 9px 52px;

                    .left {

                        .quantity {
                            width: 40%;
                            padding-right: 20px;
                            color: $TODAY_COLOR_4;
                        }

                        .name {
                            color: $TODAY_COLOR_5;
                            width: 60%;
                        }
                    }

                    .right {
                        justify-content: flex-end;
                    }

                }

                .quantity-selector-container {
                    flex-direction: column;
                    margin-left: 15%;
                    width: fit-content;

                    .field-name {
                        width: 40%;
                        margin-bottom: 5px;
                    }

                    .quantity-content {
                        width: 20%;
                    }
                }
            }
        }

    }


    .buttons-container {
        height: 60px;
        background-color: white;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;

        .button-suggestion,
        .button-finished {
            height: fit-content;
            bottom: 20px;
            background-color: $TODAY_COLOR_6;
            color: $TODAY_COLOR_5;
            padding: 5px 0;
            border-radius: 100px;
            font-weight: bold;
            width: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .button-suggestion {
            margin-right: 10px;
        }
        
        .button-finished {
            margin-left: 10px;
        }

        .button-plus {
    
            .rotated {
                transform: rotate(45deg);
            }
        }
    }



    .app-category-of-product-selector {
        width: 80%;
        height: 80%;
        z-index: 1;
    }
}
