.app-list-of-product {
    flex-direction: column;

    .top-panel {
        height: 90px;
        justify-content: center;
        align-items: center;

        .title-container {
            flex-direction: column;
            justify-content: center;

            .title,
            .shared-with {
                justify-content: center;
                align-items: center;
            }
        }

        .arrow-left-button {
            margin-left: 10px;
        }

        .ellipsis-button {
            margin-right: 10px;
        }
    }

    .search-container {
        height: 40px;

        .text-container {
            flex-direction: row;
            margin: 0 5% 0 3%;
            align-items: center;

            .text {

                input {
                    margin-right: 3%;
                    border-radius: 100px;
                    padding-left: 10px;
                    border: solid 1px grey;
                }
            }
        }

        .check-button {
            border-radius: 100%;
            padding: 6px 11px;
            height: fit-content;
        }
    }

    .plus-button {
        margin-bottom: 10px;
    }
}
